<h1>Editing Book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <%= render 'form', book: @book %>
  <%= form.submit 'Update Book', class: 'update-book-btn' %>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
